#root {
  font-family: Lato, Helvetica, sans-serif;
}

.bg-balqis {
  background-color: #2a833b;
}

.btn-primary {
  background-color: rgb(255, 78, 0);
  border-color: rgb(255, 78, 0);
}

.btn-primary:hover {
  background-color: rgb(190, 57, 0);
  border-color: rgb(190, 57, 0);
}