
$balqis-orange: rgb(255, 78, 0) !default; //$balqis-orange
$balqis-primary: rgb(255, 78, 0) !default; //$balqis
$balqis-green: #2a833b !default; //$balqis-success
$balqis-orange-dark: rgb(190, 57, 0) !default; //$balqis-orange-dark

$color-mode-type: media-query;
